<%= provide(:title,"Users Administration") %>
  <div class="text-center page-header">User administration</div>
  <table class="table table-bordered text-center table-hover table-condensed">
    <tr class="warning">
      <th class="text-center">Id</th>
      <th class="text-center">Email</th>
      <th class="text-center">Delete?</th>
    </tr>

  <% @users.each do |user| %>
   <tr>
   <td><%= user.id %></td>
   <td><%= user.email %></td>
     <% if current_user.try(:admin?) && user.admin != true  %>
   <td><%= link_to "delete", admin_destroy_user_path(user), method: :delete, data: {confirm: 'You sure?'} %></td>
     <% else %>
   <td>Cannot delete admin user</td>
     <% end %>
   </tr>
  <% end %>
  </table>
  </div>
