<% if current_user.try(:admin?) %>
  <table class="table table-bordered table-hover table-condensed">
    <tr class="warning">
      <th>Category_id</th>
      <th>Category_name</th>
      <th>Category_created</th>
      <th>Category_updated</th>
    </tr>


  <% @categories.each do | category | %>

  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td><%= category.created_at %></td>
    <td><%= category.updated_at %></td>
  </tr>
  <% end %>
  </table>

<% else %>
<h1 class="page-header">Only Admin user can see categories ids </h1>
<% end %>
