<li class="Categories">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li><a href="/ruby">ruby</a></li>
                  <li><a href="/linux">linux</a></li>
                  <li><a href="/travel">travel</a></li>
                  <li><a href="/music">music</a></li>
                  <li><a href="/movie">movie</a></li>
                  <li><a href="/ballgame">ballgame</a></li>

               </ul>
</li>