
<!-- Get categories dynamically -->
<li class="Categories">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <% @categories = Category.all %>
                 <% @categories.each do |category| %>
                  
                  <li><%= link_to category.name, category_path(category.id) %></li>

                  <% end %>

               </ul>
</li>
