<!--glyphicon glyphicon-search-->
          <form class="navbar-form navbar-right" role="search" action="/articles" accept-charset="UTF-8" method="get", validate="true">
             <div class="form-group has-feedback">
              <input name="utf8" type="hidden" />
              <input type="text" class="form-control" placeholder="search" name="search" id="search">
              <i class="glyphicon glyphicon-search form-control-feedback"></i>
             </div>
          </form>

